---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { LINKS } from "@consts";

const collection = (await getCollection("links"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const links = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={LINKS.TITLE} description={LINKS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Links
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          links.map(link => (
            <li class="animate">
              <div class="font-semibold text-black dark:text-white">
                {link.data.name}
              </div>
              <div class="text-sm opacity-75">
                {link.data.link}
              </div>
              <article>
                <link.Content />
              </article>
            </li>
          ))
        }
      </ul>
<!-- 
      <ul class="animate flex flex-col gap-4">

      </ul> -->
    </div>
  </Container>
</PageLayout>
